@import "tailwindcss";

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.animate-float {
    animation: float 4s ease-in-out infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

@keyframes marquee-vertical {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(calc(-100% - var(--gap)));
    }
}

.animate-marquee {
    animation: marquee var(--duration) linear infinite;
}

.animate-marquee-vertical {
    animation: marquee-vertical var(--duration) linear infinite;
}

.pause-on-hover:hover {
    animation-play-state: paused;
}

@keyframes glow-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.animate-glow-rotate {
    animation: glow-rotate var(--duration, 3s) linear infinite;
}
@keyframes lustre {
    0% {
        transform: translateX(-200%) skewX(-20deg);
    }
    50%, 100% {
        transform: translateX(200%) skewX(-20deg);
    }
}

.animate-lustre {
    animation: lustre 3s linear infinite;
}
